.space-between {
  display: flex;
  justify-content: space-between;
}

.fields {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.selection-box {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.label-span {
  margin-bottom: 1rem;
  font-size: 1.17em;
  font-weight: bold;
}

.selector {
  height: 2.5rem;
  padding-left: 10px;
  border-radius: 13px;
  margin-bottom: 1.2rem;
  background-color: transparent;
  border: 1px solid #fbb813;
  color: white;
  min-width: 200px;
  option {
    background-color: #1a1a1a;
    opacity: 0.5;
    color: white;
  }

  &:focus {
    outline: none;
  }
}

.date-group {
  display: flex;
  justify-content: row;
  justify-content: flex-start;
}

.date-box:first-child {
  margin-right: 1rem;
}

.date-picker {
  height: 2.5rem;
  border-radius: 13px;
  padding-left: 10px;
}

.selector-dates {
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  // border: 1px solid red;
}

/* The container */
.radio-btn-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
}

.square {
  border-radius: 7px;
}

/* On mouse-over, add a grey background color */
.radio-btn-container:hover input ~ .checkmark {
  background-color: #161616;
}

/* When the radio button is checked, add background */
.radio-btn-container input:checked ~ .checkmark {
  background-color: #fbb813;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-btn-container .checkmark:after {
  top: 6.5px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1a1a1a;
}

.days-container {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  min-width: 20vw;
  width: 20vw;
  max-width: 25vw;
  justify-content: flex-start;
}

.check-container {
  margin-right: 1rem;
}

.hour-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  .selector {
    width: 30%;
  }
}

.cancel {
  outline: none;
  background-color: #fb2113;
  &:hover {
    background-color: #c80d00;
  }
}
.confirm {
  background-color: #20ae09;
  &:hover {
    background-color: #139000;
  }
}

.m-1 {
  margin: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.ml-2 {
  margin-left: 2rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: auto;
}

.vw-60 {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
}

.container {
  padding-bottom: 2rem;
}
